

li {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: xx-large;
}

.container {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    height: 1000px;
}
.header {
    width: 100%;
    min-height: 20%;
    background-size: cover;
}

.navbar {
    height: 10%;
    background-color: $rightcolor;
    width: 100%;
    font-size: xx-large;
}
.navbar ul {
    display: flex;
    padding: 1%;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

.flex {
    display: flex;
    float:initial;
}

.main {
    flex: 4;
    padding: 1%;
    order: 2;
}

.sidebar {
    width: 200px;
}

#rightSidebar {
    flex: 1;
    order: 3;
}

#leftSidebar {
    flex: 1;
    order: 1;
}


.boxing{
    width: 95%;
    margin: 2.5%;
    border-width: 3px;
    border-style: solid;
    padding: 5px;
    font-size: larger;
}

.squarecolor{
    width: 100px;
    height: 20px;
    border-style:hidden;
    padding: 0px;
}

.selector{
    width: 100%;
    height: 500px;
    overflow-y: scroll;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .picsou{
    width: 90%;
    height: 300px;
    margin: 5%;
    border-width: 3px;
    border-style: solid;
    background-image: url('https://c.tenor.com/v6kBjHYL4ygAAAAC/tenor.gif');
    background-size: cover;
}