@font-face {
    font-family: 'MyFont1';
    src: url('../assets/fonts/ethnocentric rg it.otf') format('truetype');
}

@font-face {
    font-family: 'MyFont2';
    src: url('../assets/fonts/ethnocentric rg it.otf') format('truetype');
}